.employee-container1 {
  display: flex;
  flex-wrap: wrap;
}

.employee-box1 {
  border: 1px solid #343a40;
  border-radius: 20px;
  padding: 20px;
  margin-top: 85%; /* Adjust for smaller screens */
  margin-left: 260%; /* Adjust for smaller screens */
  width: 300%; /* Adjust for smaller screens */
  max-width: 450px; /* Limit width on larger screens */
  box-shadow: 0 15px 50px rgba(24, 23, 23, 0.1);
  background-color: #343a40;
  transition: transform 0.3s ease; 
}

.employee-box1:hover {
  transform: scale(1.01); 
}

.employee-details1 {
  background-color: #343a40;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: white;
}

.empImage {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.employee-details1 span {
  display: block;
  margin-bottom: 5px;
}

.achievement-box-bar {
  margin-top: 10px;
}


.btn11{
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  color: white;
  margin-left: 40%;
}
.btn22 {
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  color: white;
  margin-left: 3%;
}

.btn11 {
  background-color: rgb(30, 161, 30);
}

.btn22 {
  background-color: rgb(145, 7, 7);
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .employee-box1 {
    margin-top: 25%;
      width: calc(100% - 40px); /* Adjust for smaller screens */
      margin-left: 30px; /* Adjust for smaller screens */
  }
  .btn11{
    margin-right: 5%;
  }
}
