.loginPage {
    background: url('Images/emp ms.jpg');
    background: linear-gradient(rgba(11, 11, 11, 0.5), rgba(10, 10, 10, 0.5)), url("Images/emp ms.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 120%;
}

.loginForm {
    background-color: rgba(1, 32, 93, 0.6);
    color: white;
}
.empImage{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}


.shadow-lg {
    box-shadow: 0 10px 15px rgba(0,0,0,0.1), 0 4px 6px rgba(0,0,0,0.1);
    border: 1px solid rgba(0,0,0,0.125); /* Add border */
  }
  
  .sidebar{
    width: 18%;
  }